.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.Modal {
  margin: 0;
  width: 65%;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.Modal__Picture {
  display: block;
  width: 100%;
  margin: 0;
}
